html,
body {
    background: $clr-highlight;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: $clr-highlight-alt;
    font-weight: bold;

    &:hover {
        color: $clr-highlight;
    }
}
