
<footer>
    <div class="footer__banner">
        <div class="footer__logo">
            <svg><use xlink:href="#logo" /></svg>
        </div>
    </div>

    <div class="footer__content">
        <section>
            <p>
                Dayton Geoinformatics, LLC <br />
                9522 Shawnee Trail <br />
                Dayton, Ohio 45458 <br />
            </p>
        </section>

        <section>
            &nbsp;
        </section>

        <section>
            <p>
                Interested in working with us on your next
                mapping or web development project? Tell us about it at
                <a href="mailto:hello@daytongeo.us">hello@daytongeo.us</a>
            </p>
        </section>
    </div>

    <div class="footer__banner">
        <p class="footer__copy">
            &copy; Copyright 2017 by Dayton Geoinformatics, LLC. All rights reserved.
        </p>
    </div>

</footer>
