
.front__sections {
    @include outer-container(100%);

    .front__section {
        @include span-columns(12);
        padding: 0;

        @include media($desktop) {
            @include span-columns(4);
        }

        svg {
            fill: $clr-highlight-alt;
            height: 24px;
            margin-right: 0.15em;
            stroke-color: $clr-highlight-alt;
            width: 24px;
        }
    }
}

.headshot {
    border-radius: 50%;
    float: left;
    height: 96px;
    margin: 0 1.0em 0.5em 0;
    width: 96px;
}

h2 {
    margin-top: 1.0em;
}
