<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include svg.html %}

        {% include header.html %}

        <main class="content">
            <h2>
                Dayton Geoinformatics provides expert software engineering
                services to the intelligence community and DoD.
            </h2>

            <p>
                Focused on the development of web-based mapping and data
                visualization applications, we can help you deliver custom
                software applications to your users.
            </p>

            <div class="front__sections">
                <div class="front__section">
                    <h3>
                        <svg><use xlink:href="#icon-location" /></svg>
                        Web Mapping
                    </h3>
                    <p>
                        From traditional 2D mapping with tools like Leaflet
                        and OpenLayers, to WebGL-powered 3D maps using MapboxGL
                        and Cesium, we have the expertise to build intelligence
                        applications that allow your users to dig deeper into
                        their data.
                    </p>
                </div>
                <div class="front__section">
                    <h3>
                        <svg><use xlink:href="#icon-stats-dots" /></svg>
                        Data Visualization
                    </h3>
                    <p>
                        Our expertise in visualizing large amounts of data
                        can help you see trends and gain insights.
                    </p>
                </div>
                <div class="front__section">
                    <h3>
                        <svg><use xlink:href="#icon-wrench" /></svg>
                        Web Development
                    </h3>
                    <p>
                        Your government website doesn’t have to look like a
                        government website. We build fast, beautiful web
                        applications with the latest web technologies such
                        as Angular, React, Sass, and Node.js. Our interfaces
                        get out of the way and let users focus on
                        accomplishing their mission.
                    </p>
                </div>
            </div>
        </main>

        {% include footer.html %}
        {% include analytics.html %}
    </body>

</html>
