<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include svg.html %}

        {% include header.html %}

        <main>
            <div class="content">
                <h1>
                    Dayton Geoinformatics provides expert software engineering
                    services to those wanting to make the most of their data.
                </h1>

                <p>
                    Focused on the development of web-based mapping and data
                    visualization applications, we can help you deliver custom
                    software applications to your users.
                </p>

                <div class="front__sections">
                    <div class="front__section">
                        <h2>
                            <svg><use xlink:href="#icon-location" /></svg>
                            Web Mapping
                        </h2>
                        <p>
                            From traditional 2D mapping with tools such as D3 and Leaflet, to WebGL-powered 3D maps using MapboxGL and Cesium, we have the expertise to build custom software that allow your users to dig deeper into their location data.
                        </p>
                    </div>
                    <div class="front__section">
                        <h2>
                            <svg><use xlink:href="#icon-stats-dots" /></svg>
                            Data Visualization
                        </h2>
                        <p>
                            Go beyond the numbers and connect the dots. Our expertise in visualizing
                            large amounts of data can help you and your users
                            spot trends, build stories, and gain an understanding of
                            the meaning behind the numbers.
                        </p>
                    </div>
                    <div class="front__section">
                        <h2>
                            <svg><use xlink:href="#icon-wrench" /></svg>
                            Web Development
                        </h2>
                        <p>
                            We build fast, beautiful web applications while
                            taking an agile, human-centered approach to software
                            development.
                            We use the latest web technologies such as
                            Angular, React, Sass, Python, and Node.js
                            to get the job done better and faster than our competitors.
                        </p>
                    </div>
                </div>

                <h2>
                    Let's chat.
                </h2>
                <p>
                    Interested in working with us on your next project? We
                    would love to help you make it a success! Reach out and
                    start a conversation by clicking the button below.
                </p>
                <a class="button" href="mailto:hello@daytongeo.us?subject=Howdy">
                    <div class="button__contents">
                        <svg><use xlink:href="#icon-envelope" /></svg>
                        <span> Get in touch</span>
                    </div>
                </a>
            </div>
        </main>

        {% include footer.html %}
        {% include javascript.html %}
        {% include analytics.html %}
    </body>

</html>
