
footer {
    background: $clr-dark;
    color: $clr-light;
    font-size: 0.9rem;
    margin-top: 2.0em;
    min-height: 400px;
    padding: 1.0em;
}

.footer__logo {
    fill: $clr-light;
    height: 60px;
    width: 230px;
}

.footer__content {
    @include outer-container(100%);

    section {
        @include span-columns(12);
        padding: 0;

        @include media($desktop) {
            @include span-columns(4);
        }
    }
}
