
$footer-link-hover: lighten($clr-highlight, 15%);

footer {
    background: $clr-dark;
    color: $clr-light;
    font-size: 0.9rem;
    margin-top: 2.0em;
    min-height: 400px;
    padding: 1.0em;

    a {
        color: $clr-highlight;
        text-decoration: none;

        &:hover {
            color: $footer-link-hover;
            text-decoration: underline;
        }
    }
}

.footer__logo {
    display: block;
    fill: $clr-light;
    height: $logo-mark-height / 3;
    width: $logo-mark-width / 3;

    @include media($desktop) {
        height: $logo-mark-height / 2;
        width: $logo-mark-width / 2;
    }

    use {
        margin: 0;
    }
}

.footer__content {
    @include outer-container(100%);

    section {
        @include span-columns(12);
        padding: 0;

        @include media($desktop) {
            @include span-columns(4);
        }
    }
}
