// Header component on the front page
header {
    background-color: $clr-dark;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15)), url(../images/nightlights-2048.jpg);
    background-size: cover;
    color: $clr-white;
    min-height: 66%;
    padding: 2.0em;
    text-align: center;

    @include media($desktop) {
        text-align: left;
    }
}

.header__logo {
    fill: $clr-highlight;
    height: 60px;
    width: 230px;

    @include media($desktop) {
        height: 100px;
        width: 382px;
    }
}
